.vscode
src/.DS_Store
.DS_Store
data/.ipynb_checkpoints/desktop.ini
data/bigTwitter.json
data/desktop.ini
out/desktop.ini
out/collective/desktop.ini
out/point-point/desktop.ini
slurm/desktop.ini
.idea/Repo.iml
desktop.ini
.idea/desktop.ini
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
src/__pycache__/main.cpython-36.pyc
